<div class="row text-center">
    <div class="col"><button type="button" (click)="appendNumber('7')">7</button></div>
    <div class="col"><button type="button" (click)="appendNumber('8')">8</button></div>
    <div class="col"><button type="button" (click)="appendNumber('9')">9</button></div>
    <div class="col"><button type="button" (click)="setOperator('+')">+</button></div>
</div>
<div class="row text-center">
    <div class="col"><button type="button" (click)="appendNumber('4')">4</button></div>
    <div class="col"><button type="button" (click)="appendNumber('5')">5</button></div>
    <div class="col"><button type="button" (click)="appendNumber('6')">6</button></div>
    <div class="col"><button type="button" (click)="setOperator('-')">-</button></div>
</div>
<div class="row text-center">
    <div class="col"><button type="button" (click)="appendNumber('1')">1</button></div>
    <div class="col"><button type="button" (click)="appendNumber('2')">2</button></div>
    <div class="col"><button type="button" (click)="appendNumber('3')">3</button></div>
    <div class="col"><button type="button" (click)="setOperator('=')">=</button></div>
</div>
<div class="row text-center">
    <div class="col"><button type="button" (click)="clear()">-</button></div>
    <div class="col"><button type="button" (click)="appendNumber('0')">0</button></div>
    <div class="col"><button type="button">-</button></div>
    <div class="col"><button type="button">-</button></div>
</div>