<div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Manola" [(ngModel)]="name">
</div>
<div class="form-group">
    <label for="surname">Surname</label>
    <input type="text" class="form-control" id="surname" placeholder="Manola" [(ngModel)]="surname">
</div>
<div class="form-group">
    <label for="nif">nif</label>
    <input type="text" class="form-control" id="nif" placeholder="Manola" [(ngModel)]="nif">
</div>
<div class="form-group">
    <label for="email">email</label>
    <input type="email" class="form-control" id="email" placeholder="Manola" [(ngModel)]="email">
</div>
<div class="form-group">
    <label for="phonenumber">phonenumber</label>
    <input type="number" class="form-control" id="phonenumber" placeholder="Manola" [(ngModel)]="telefono">
</div>
<div class="form-check">
    <input class="form-check-input" type="radio" name="sexo" id="sexo1" value="m" [(ngModel)]="sexo">
    <label class="form-check-label" for="sexo1">
        Male
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="radio" name="sexo" id="sexo2" value="f" [(ngModel)]="sexo">
    <label class="form-check-label" for="sexo2">
        Female
    </label>
</div>
<select class="form-select" aria-label="Default select example" [(ngModel)]="conocio">
    <option value="Familiares">Familiares</option>
    <option value="Perro">Perro</option>
    <option value="Lagarto">Lagarto</option>
</select>
<div class="form-group">
    <label for="password">Contraseña</label>
    <input type="password" class="form-control" id="password" placeholder="Manola" [(ngModel)]="password">
</div>
<div class="form-group">
    <label for="password2">Repetir Contraseña</label>
    <input type="password" class="form-control" id="password2" placeholder="Manola" [(ngModel)]="passwordAgain">
</div>
<div class="text-center mt-5">
    <button type="button" class="btn btn-primary" (click)="validate()">GO</button>
</div>